<div class='col-xs-3'>
    <h2>User info</h2>
    <table class='table'>
      <tr>
        <!--<img class="attachment user profile_image fallback" src="/assets/no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg" alt="No image" /></tr> -->
      <tr>
    	  <th>name</th>
    	  <th>aa</th>
      </tr>
      <tr>
    	  <th>introduction</th>
    	  <th></th>
      </tr>
    </table>

<div class='row'>
  <a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_18300" href="/users/18300/edit"></a>
</div>

<h2>New book</h2>
<%= form_for(book) do |f| %>
  <%= render "users/error_messages", model: f.object %>
  <div class="field row">
    <label for="book_title">Title</label>
    <br />
    <%= f.text_field :title, id: "book_title" %>
  </div>
  <div class="field row">
    <label for="book_opinion">Opinion</label>
    <br />
    <%= f.text_area :body, id: "book_opinion" %>
  </div>
  <div class="actions row">
    <%= f.submit "Create Book", class:"btn btn-primary col-xs-12" %>
  </div>
<% end %>
</div>