<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <label for="user_name">Name</label>
    <br />
    <%= f.text_field :name, autofocus: true, id: "user_name" %>
  </div>
  <div class="field">
    <label for="user_password">Password</label>
    <br />
    <%= f.password_field :password, id: "user_password" %>
  </div>
  <div class="form-group">
    <%= f.label :remember_created_at, class: "checkbox inline" do %>
      <%= f.check_box :remember_created_at %>
      <span>Remember me</span>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>
<% end %>

<a class="sign_up" href="/users/sign_up">Sign up</a><br />

<a href="/users/password/new">Forgot your password?</a><br />
